<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>{% block title %}Mon blog sur les crêpes bretonnes{% endblock %}</title>
</head>
<body>
<header>Crêpes bretonnes</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="{% url 'home_page' %}">Accueil</a></li>
            <li><a href="{% url 'home_page' %}">Blog</a></li>
            <li><a href="{% url 'afficher_date' %}">Date</a></li>
            <li><a href="{% url 'formulaire' %}">Un formulaire</a></li>
       </ul>
       {% endblock %}
        {% block img %}{% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; Crêpes bretonnes</footer>
</body>
</html>