{% extends 'base.html' %}
{% load static %}
{% block title %}Un formulaire sans intérêt{% endblock %}
{% block img %}
<img src="{% static 'blog/crepes.jpg' %}" alt="Une image de crêpes" title="Une sacrée paire de crêpes"/>
{% endblock %}
{% block content %}
    <h1>Un formulaire pas banal</h1>
        <form action="{% url 'formulaire' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
{% endblock %}