{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block img %}
<img src="{% static 'blog/crepes.jpg' %}" alt="Une image de crêpes" title="Une sacrée paire de crêpes"/>
{% endblock %}
{% block content %}
    <h1>Bienvenue sur mon blog !</h1>
        <p>Les crêpes bretonnes ça tue des mouettes en plein vol !</p>
    {% for article in articles %}
<h2> <a href="{% url 'afficher_article' article.id article.slug %}"> {{article.title}} </a></h2>
        <p>{{article.content|truncatewords:80}}</p>
        <p class="category">{{article.category}}</p>
        <p>Par {{article.author}} le {{article.date|date:"l d F Y"}}</p>
    {% empty %}
        <h2>Toujours pas d'articles qu'est ce que tu attends</h2>
    {% endfor %}

    {# Mise en forme de la pagination ici #}
    {% if is_paginated %}
        <div class="pagination">
               {% if page_obj.has_previous %}
                   <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
               {% endif %}
               Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
               {% if page_obj.has_next %}
                  — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
               {% endif %}
        </div>
    {% endif %}
{% endblock %}